<div class="container-fluid">
  <div class="row">
    <div class="col s3 profileContainer" style="padding: 0">
      <div class="profile center-align">
        <img src="./assets/profileImageDefault.png" alt="">
      </div>
      <div class="row center-align menu">
        <div (click)="goTo('category')" class="col s12">CATEGORIAS</div>
        <div (click)="goTo('actor')" class="col s12">ACTORES</div>
        <div (click)="goTo('movie')" class="col s12">PELICULAS</div>
        <div (click)="goTo('rent')" class="col s12">RENTAS</div>
      </div>
    </div>
    <div class="col s9 dashboardBar" style="padding: 0">
      <div class="row">
        <div class="col s12 bar">
        </div>
        <div class="col s12">
          <div class="row cards">
            <div (click)="optionS = 1;reloadActors();searchQ = false;" class="btn green waves-effect waves-light">Actores</div>
            <div (click)="optionS = 2;reloadActors()" class="btn blue waves-effect waves-light">Añadir actor</div>
            <div (click)="optionS = 3;reloadActors()" class="btn deep-orange waves-effect waves-light">Editar actor</div>
            <div (click)="optionS = 4;reloadActors()" class="btn red waves-effect waves-light">Eliminar actor</div>
            <div class="row" *ngIf="optionS == 1">
               <div class="row">
                      <form [formGroup] = "form" class="row">
                        <div class="input-field col s6">
                          <input id="first_name" type="text" class="validate" formControlName="name">
                          <label for="first_name">Nombre del actor</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate" formControlName="last_name">
                            <label for="last_name">Apellido del actor</label>
                          </div>
                      </form>
                      <div class="row">
                        <button class="btn" (click)="searchActor()" >Enviar</button>
      
                      </div>
               </div>

                <table class="striped" >
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Ultima Actualización</th>
                    </tr>
                  </thead>  
                  <tbody *ngIf="!searchQ">
                      <tr *ngFor="let a of actors" >
                          <td>{{a.actor_id}}</td>
                          <td>{{a.first_name}}</td>
                          <td>{{a.last_name}} </td>
                          <td>{{a.last_update}} </td>
                        </tr>
                        
                  </tbody>
                  <tbody *ngIf="searchQ">
                      <tr *ngFor="let a of actors">
                          <td>{{a.t_actor_id}}</td>
                          <td>{{a.t_first_name}}</td>
                          <td>{{a.t_last_name}} </td>
                          <td>{{a.t_last_update}} </td>
                        </tr>
                  </tbody>
                </table>
              </div>
              <div class="row" *ngIf="optionS == 2">
                <div class="col s12">
                  <form [formGroup] = "form" class="row">
                    <div class="input-field col s6">
                      <input id="first_name" type="text" class="validate" formControlName="name">
                      <label for="first_name">Nombre del actor</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate" formControlName="last_name">
                        <label for="last_name">Apellido del actor</label>
                      </div>
                  </form>
                  <div class="row">
                    <button class="btn" (click)="addActor()" >Enviar</button>
  
                  </div>
                </div>
              </div>    
              <div class="row" *ngIf="optionS == 3">
                <table class="striped" *ngIf="!editS">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Ultima Actualización</th>
                    </tr>
                  </thead>  
                  <tbody>
                      <tr *ngFor="let a of actors">
                          <td>{{a.actor_id}}</td>
                          <td>{{a.first_name}}</td>
                          <td>{{a.last_name}} </td>
                          <td>{{a.last_update}}</td>
                          <td><div class="btn deep-orange" (click)="edit(a.actor_id)">Editar</div></td>
                        </tr>
                    
                  </tbody>
                </table>
                <div class="col s12" *ngIf="editS">
                    <form [formGroup] = "form" class="row">
                        <div class="input-field col s6">
                          <input id="first_name" type="text" class="validate" formControlName="name">
                          <label for="first_name">Nombre del actor</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate" formControlName="last_name">
                            <label for="last_name">Apellido del actor</label>
                          </div>
                      </form>
                  <div class="row">
                    <button class="btn red" (click)="editS = false" >Atras</button>
                    <button class="btn" style="margin-left: 3%" (click)="sendEdit()" >Enviar</button>
  
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="optionS == 4">
                <table class="striped" >
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Ultima Actualización</th>
                    </tr>
                  </thead>  
                  <tbody>
                      <tr *ngFor="let a of actors">
                          <td>{{a.actor_id}}</td>
                          <td>{{a.first_name}}</td>
                          <td>{{a.last_name}} </td>
                          <td>{{a.last_update}} </td>
                          <td><div class="btn red" (click)="delete(a.actor_id)">Editar</div></td>
                        </tr>
                    
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
