<div class="container-fluid">
  <div class="row">
    <div class="col s3 profileContainer" style="padding: 0">
      <div class="profile center-align">
        <img src="./assets/profileImageDefault.png" alt="">
      </div>
      <div class="row center-align menu">
        <div (click)="goTo('category')" class="col s12">CATEGORIAS</div>
        <div (click)="goTo('actor')" class="col s12">ACTORES</div>
        <div (click)="goTo('movie')" class="col s12">PELICULAS</div>
        <div (click)="goTo('rent')" class="col s12">RENTAS</div>
      </div>
    </div>
    <div class="col s9 dashboardBar" style="padding: 0">
      <div class="row">
        <div class="col s12 bar">
        </div>
        <div class="col s12">
          <div class="row cards">
            <table class="striped">
              <thead>
                <tr>
                    <th>Tienda</th>
                    <th>Pelicula</th>
                    <th>Existencia</th>
                </tr>
              </thead>
      
              <tbody>
                <tr *ngFor="let m of movie">
                  <td *ngIf="m.t_store_id == 1" > Culiacan </td>
                  <td *ngIf="m.t_store_id == 2" > Navolato </td>

                  <td> {{m.t_title}}</td>
                  <td> {{m.t_quantity}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
