.row{
    margin: 0;
    padding: 0;
}
.container-fluid{
    background: url('../../../../assets/backgroundRegister.jpg');
    height: 100vh;;
    .cardRegister{
        background-color: rgba(135, 168, 221,.6);
        height: 85vh;
        margin-right: 1%;
        margin-top: 4%;
        padding-top: 2%;
        color: #fff;
        .btn{
            width: 100%;
        }
    }
    .titleRegister{
        img{
            width: 100%;
        }
        .userProfile{
            width: 22%;
        }
    }

}