<div class="container-fluid">
  <div class="row">
    <div class="col s4  titleRegister cardRegister" [ngClass]="{'offset-m2': register, 'offset-m4': !register}">
      <img src="./assets/brandLogo.png" alt="brandLogo">
      <div class="center-align">
        <img src="./assets/profileImageDefault.png" class="circle userProfile" alt="">

      </div>
      <div class="row">
        <form class="col s12" [formGroup]="form" (submit)="login()">
          <div class="row">
            <div class="input-field col s12">
              <input id="userName" type="text" class="validate" formControlName="loginUsername">
              <label for="userName">User name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" formControlName="loginPassword" >
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="btn" style="margin-bottom: 5%;" (click)="login()" >Log In</div>
            <span>Dont have an account?</span><span class="red-text" *ngIf="found">Incorrect user name or password</span>
            <div class="btn" style="margin-top: 5%" (click)="openRegister()">Register</div>
          </div>
        </form>
      </div>
    </div>
    <div class="col s4 credentialsRegister cardRegister animated bounceInLeft" *ngIf="register">
      <div class="row">
        <h5 class="center-align">Register form</h5>
        <form class="col s12" [formGroup]='form' >
          <div class="row personal" *ngIf="!addressReg">
            <div class="input-field col s12">
              <input id="userNameReg" type="text" class="validate" formControlName="username">
              <label for="userNameReg">User name</label>
            </div>
            <div class="input-field col s12">
              <input id="passwordReg" type="password" class="validate" formControlName="password">
              <label for="passwordReg">Password</label>
            </div>

            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" formControlName="first_name">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" formControlName="last_name">
              <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" formControlName="email">
              <label for="email">Email</label>
            </div>
          <div class="btn btn-block col s12" style="margin-bottom: 5%" (click)="address()" >Next(address)</div>
            
          </div>
          </form>
          <div class="row address animated fadeIn" *ngIf="addressReg">
          <form class="col s12" [formGroup]='form' >
            
              <div class="input-field col s12">
                <select name="country" id="country" materialize="material_select" formControlName="country">
                    <option disabled >Select your city</option>
                    <option value="{{c.country_id}}" *ngFor="let c of countries">{{c.country}} </option>
                </select>
              </div>
        </form>
            
                <div class="form-control col s12" >
                  <select name="city" id="city" materialize="material_select" #cityId>
                      <ng-container *ngFor="let c of cities; let i = index">
                          <option [value]="i"  *ngIf="c.country_id == aux">{{c.city}}</option>
                        </ng-container>
                  </select>
              </div>
              <form class="col s12" [formGroup]='form' >

              <div class="input-field col s6">
                  <input id="district" type="text" class="validate" formControlName="district"  >
                  <label for="district">District</label>
                </div>
                <div class="input-field col s6">
                    <input id="postal_code" type="text" class="validate" formControlName="postal_code" >
                    <label for="postal_code">Postal code</label>
                  </div>
              <div class="input-field col s12">
                <input id="address" type="text" class="validate" formControlName="address" >
                <label for="address">Address</label>
              </div>
              <div class="input-field col s6">
                <input id="address2" type="text" class="validate" formControlName="address2" >
                <label for="address2">Address 2</label>
              </div>
              <div class="input-field col s6">
                  <input id="phone" type="text" class="validate" formControlName="phone"  >
                  <label for="phone">Phone</label>
                </div>

          <div class="btn btn-block col s12" (click)="registerUser()" >Sign Up</div>
          </form>
            </div>
      </div>

    </div>
  </div>
</div>