<div class="container-fluid">
  <div class="row">
    <div class="col s3 profileContainer" style="padding: 0">
      <div class="profile center-align">
        <img src="./assets/profileImageDefault.png" alt="">
      </div>
      <div class="row center-align menu">
        <div (click)="goTo('category')" class="col s12">CATEGORIAS</div>
        <div (click)="goTo('actor')" class="col s12">ACTORES</div>
        <div (click)="goTo('movie')" class="col s12">PELICULAS</div>
        <div (click)="goTo('rent')" class="col s12">RENTAS</div>
      </div>
    </div>
    <div class="col s9 dashboardBar" style="padding: 0">
      <div class="row">
        <div class="col s12 bar">
        </div>
        <div class="col s12">
          <div class="row cards">
            <div (click)="optionS = 1;reloadCategories()" class="btn green waves-effect waves-light">Categorias</div>
            <div (click)="optionS = 2;reloadCategories()" class="btn blue waves-effect waves-light">Añadir Categoria</div>
            <div (click)="optionS = 3;reloadCategories()" class="btn deep-orange waves-effect waves-light">Editar Categoria</div>
            <div (click)="optionS = 4;reloadCategories()" class="btn red waves-effect waves-light">Eliminar Categoria</div>

            <div class="row" *ngIf="optionS == 1">
              <table class="striped" >
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Ultima Actualización</th>
                  </tr>
                </thead>  
                <tbody>
                  <tr *ngFor="let c of categories">
                    <td>{{c.q_category_id}}</td>
                    <td>{{c.q_name}}</td>
                    <td>{{c.q_last_update}} </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="optionS == 2">
              <div class="col s12">
                <form [formGroup] = "form" class="row">
                  <div class="input-field col s6">
                    <input id="categoryName" type="text" class="validate" formControlName="name">
                    <label for="categoryName">Nombre de la categoria</label>

                  </div>
                </form>
                <div class="row">
                  <button class="btn" (click)="addCategory()" >Enviar</button>

                </div>
              </div>
            </div>    
            <div class="row" *ngIf="optionS == 3">
              <table class="striped" *ngIf="!editS">
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Ultima Actualización</th>
                  </tr>
                </thead>  
                <tbody>
                  <tr *ngFor="let c of categories">
                    <td>{{c.q_category_id}}</td>
                    <td>{{c.q_name}}</td>
                    <td>{{c.q_last_update}} </td>
                    <td><div class="btn deep-orange" (click)="edit(c.q_category_id)">Editar</div></td>
                  </tr>
                  
                </tbody>
              </table>
              <div class="col s12" *ngIf="editS">
                <form [formGroup] = "form" class="row">
                  <div class="input-field col s6">
                    <input id="categoryName" type="text" class="validate" formControlName="name">
                    <label for="categoryName">Nombre de la categoria</label>

                  </div>
                </form>
                <div class="row">
                  <button class="btn red" (click)="editS = false" >Atras</button>
                  <button class="btn" style="margin-left: 3%" (click)="sendEdit()" >Enviar</button>

                </div>
              </div>
            </div>
            <div class="row" *ngIf="optionS == 4">
              <table class="striped" >
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Ultima Actualización</th>
                  </tr>
                </thead>  
                <tbody>
                  <tr *ngFor="let c of categories">
                    <td>{{c.q_category_id}}</td>
                    <td>{{c.q_name}}</td>
                    <td>{{c.q_last_update}} </td>
                    <td><div class="btn red" (click)="delete(c.q_category_id)">Eliminar</div></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
