.row{
    margin: 0;
    padding: 0;
}
.container-fluid{
    background-color: #f6f6f6;
    .profileContainer{
        height: 100vh;
        .profile{
            padding-top: 10%;
            padding-bottom: 5%;
            margin-bottom: 2%;
            box-shadow: 0 3px 6px;
            background-color: #5565e7;
            img{
                width: 50%;
            }
        }
        .menu{
            background-color: #ffffff;
            height: 63vh;
            box-shadow: 0 3px 6px;
            div{
                padding: 2%;
                font-size: 18px;
                cursor: pointer;
                transition: .3s ease all;
                &:hover{
                    background-color: #212121;
                    color: #ffffff;
                }
            }
        }
    }
    .dashboardBar{
        .bar{
            height: 15vh;
            background-color: #0034c1;
        }
        .cards{
            div{
                margin-right: 2%;
                margin-left: 2%;
            }
        }
    }
}