<div class="container-fluid">
  <div class="row">
    <div class="col s3 profileContainer" style="padding: 0">
      <div class="profile center-align">
        <img src="./assets/profileImageDefault.png" alt="">
      </div>
      <div class="row center-align menu">
        <div (click)="goTo('category')" class="col s12">CATEGORIAS</div>
        <div (click)="goTo('actor')" class="col s12">ACTORES</div>
        <div (click)="goTo('movie')" class="col s12">PELICULAS</div>
        <div (click)="goTo('rent')" class="col s12">RENTAS</div>
      </div>
    </div>
    <div class="col s9 dashboardBar" style="padding: 0">
      <div class="row">
        <div class="col s12 bar">
        </div>
        <div class="col s12">
          <div class="row cards">
            <div (click)="optionnS = 1; reloadRentals()" class="btn green waves-effect waves-light">Rentas actuales</div>
            <div (click)="optionnS = 2" class="btn blue waves-effect waves-light">Añadir Renta</div>
            <div (click)="optionnS = 3; reloadRentals()" class="btn red waves-effect waves-light">Eliminar Renta</div>

            <div class="row" *ngIf="optionnS == 1">
                <table class="striped"  >
                    <thead>
                      <tr>
                          <th>Id</th>
                          <th>Fecha renta</th>
                          <th>Fecha de entrega</th>
                          <th>Referirse</th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr *ngFor="let r of rentals">
                        <td>{{r.t_rental_id}}</td>
                        <td>{{r.t_rental_date}}</td>
                        <td> {{r.t_return_date}} </td>
                        <td> {{r.t_reffer}} </td>
                      </tr>
      
                    </tbody>
                  </table>
            </div>
            <div class="row" *ngIf="optionnS == 2">
              <form [formGroup]="form" >
            <div class="col s6">
                <select name="staff" id="staff" materialize="material_select" formControlName="staff">
                    <option disabled >Select your staff</option>
  
                  <option [value]="s.q_staff_id" *ngFor="let s of staff">{{s.q_first_name}}</option>
                </select>
            </div>
            <div class="col s6">
                <select name="movies" id="movies" materialize="material_select" formControlName="movie">
                    <option disabled >Select your movie</option>
  
                  <option [value]="m.q_film_id" *ngFor="let m of movies">{{m.q_title}}</option>
                </select>
            </div>
            <div class="col s6">
                
                <input placeholder="Fecha de regreso" formControlName="returnDate" materialize="pickadate" type="text" class="datepicker">

            </div>
            <div class="col s6">
                <button class="btn green" (click)="sendRent()" >Enviar</button>

            </div>
            </form>

            </div>
            <div class="row" *ngIf="optionnS == 3">
                <table class="striped"  >
                    <thead>
                      <tr>
                          <th>Id</th>
                          <th>Fecha renta</th>
                          <th>Pelicula</th>
                          <th>Tienda</th>
                          <th>Fecha de entrega</th>
                          <th>Referirse</th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr *ngFor="let r of rentals">
                        <td>{{r.t_rental_id}}</td>
                        <td>{{r.t_rental_date}}</td>
                        <td>{{r.t_tittle}}</td>
                        <td> {{r.t_store_id}} </td>
                        <td> {{r.t_return_date}} </td>
                        <td> {{r.t_reffer}} </td>
                        <td><div class="btn red" (click)="delete(r.t_rental_id)" >Eliminar</div></td>
                      </tr>
      
                    </tbody>
                  </table>
               </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
